<form #enrollForm="ngForm" (ngSubmit)="onSubmit(enrollForm)">

  <label>Student Name</label><br>

  <input
    type="text"
    name="studentName"
    [(ngModel)]="studentName"
    required
    minlength="3"
    #nameCtrl="ngModel">

  <div *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">
    Name is required
  </div>

  <div *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']">
    Name must be at least 3 characters
  </div>

  <br><br>

  <label>Email</label><br>

  <input
    type="email"
    name="studentEmail"
    [(ngModel)]="studentEmail"
    required
    email
    #emailCtrl="ngModel">

  <div *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">
    Email is required
  </div>

  <div *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']">
    Enter a valid email
  </div>

  <br><br>

  <label>Course ID</label><br>

  <input
    type="number"
    name="courseId"
    [(ngModel)]="courseId"
    required
    #courseCtrl="ngModel">

  <div *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']">
    Course ID is required
  </div>

  <br><br>

  <label>Preferred Semester</label><br>

  <select
    name="preferredSemester"
    [(ngModel)]="preferredSemester">

    <option value="Odd">Odd</option>
    <option value="Even">Even</option>

  </select>

  <br><br>

  <label>

    <input
      type="checkbox"
      name="agreeToTerms"
      [(ngModel)]="agreeToTerms"
      required
      #termsCtrl="ngModel">

    I Agree to Terms

  </label>

  <div *ngIf="termsCtrl.touched && termsCtrl.errors?.['required']">
    Please accept the terms.
  </div>

  <br><br>

  <button
    type="submit"
    [disabled]="enrollForm.invalid">

    Submit

  </button>

  <button
    type="button"
    (click)="enrollForm.resetForm()">

    Reset

  </button>

</form>

<div *ngIf="submitted">
  Enrollment request submitted successfully!
</div>
